.Calculadora {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    transition: all 0.8s ease-in-out;
}
.Calculadora-hidden {
    height: 0;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
}
.Calculadora-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.Calculadora-h4 {
    font-size: 20px;
    margin-bottom: 20px;
}
.Calculadora-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Calculadora-control {
    width: 30px;
    height: 30px;
    font-size:25px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(230,226,226);
    background: radial-gradient(circle, rgba(230,226,226,0.5999649859943977) 0%, rgba(20, 20, 20, 0) 100%);
}
.Calculadora-Nights {
    margin: 0 20px;
}
.Calculadora-tablero {
    width: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: 0 10px;
    padding: 10px;
}
.Calculadora-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Calculadora-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-blueOpacity;
    padding: 10px;
}

