.Cookie {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    padding: 10px;
    z-index: 200;
}
.Cookies-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background-color: rgba(237, 236, 235, 0.877);
    i {
        font-size: 28px;
        text-align: center;
        cursor: pointer;
    }
}
.Cookie-p {
    display: flex;
    font-size: 18px;
    color: #7d7c7c;
    a {
        text-decoration: underline;
        margin-left: 5px;
        color: #000;
    }
    
}

.Cookie-isHidden {
    display: none;
}