.Paragraph {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.Paragraph-container {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding:10px;
}
.Paragraph-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align:right;
    color: $color-blue;
    margin-bottom: 10px;
    span {
        font-style: italic;
        font-size: 60px;
        font-weight: 500;
    }
    span:nth-child(3) {
        font-style: normal;
    }
}
.Paragraph-p {
    width: 300px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

@include breakpoint('medium-tablet') {
    .Paragraph-container {
        width: 95%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .Paragraph-title {
        width: 45%;
        font-size: 65px;
        margin-right: 35px;
        span {
            font-size: 75px;
        }
    }
    .Paragraph-p {
        width: 45%;
        text-align: left;
        font-size: 14px;
    }
}
@include breakpoint('large') {
    .Paragraph {
        padding: 120px 0;
    }
    .Paragraph-container {
        width: 85%;
    }
    .Paragraph-title {
        font-size: 92px;
        span {
            font-size: 117px;
        }
    }
    .Paragraph-p {
        width: 50%;
        font-size: 18px;
    }
}