.Paragraph {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding:10px;
}
.Paragraph-title {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align:right;
    color: $color-blue;
    width: 200px;
    span {
        font-style: italic;
        font-size: 60px;
        font-weight: 500;
    }
    span:nth-child(3) {
        font-style: normal;
    }
}
.Paragraph-p {
    width: 300px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
   
}